#box-2{
    width: 50%;
    height: 80px;
    border: double black;
    background-color: aquamarine;
    color: aqua;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    transition-duration: 0.5s ;
}
#box-1{
    width: 50%;
    height: 80px;
    border: double black;
    background-color: burlywood;
    color: #ccc;
    transition-duration: 0.5s ;
    text-align: center;
}
.box-2:hover,.box-1:hover{
    background-color: black;
    font-family: 'Lobster', cursive;
    text-align:center;
    font-size: 30px;
}
#box-2:hover,#box-1:hover{
    background-color: red;
}


#statement {
    font-size:10px;
    font-family: 'Lobster', cursive;
    color:aquamarine;
}

#head {
    font-family: 'Lobster', cursive;
    text-align: center;
}

body {
    background-image: linear-gradient(to right, red, black);
}
